.tab-switcher {
  display: flex;
  justify-content: space-between; // or center, or start
  width: 600px;
  .tab-section {
    width: 100%;
    max-width: 700px; // match search-form
    margin: 0 auto;
  
    .tab-content {
      margin-top: 1rem;
      padding-left: 0; // Ensure no unintended padding
    }
  }
  
  button {
    padding: 1rem 2rem;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    width:50%;

    &.active {
      background-color: #6699cc;
      border-bottom: 4px solid #ffffff;
    }
  }
}

  